<div *ngIf="availableDevices">
  <select #secim (change)="onDeviceSelectChange(secim.value)">
    <option value="" [selected]="!selectedDevice">aygit secilmedi!</option>
    <option *ngFor="let device of availableDevices" [value]="device.deviceId"
      [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
  </select>
</div>

<div>

  <div *ngIf="kameraSecildi">
    <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice" [formats]="allowedFormats"
         style="width:200px; height: 150px;" (scanComplete)="scanSuccessHandler($event)"></zxing-scanner>
  </div>

  <h2 *ngIf="!this.selectedDevice">Kamera secili degil.</h2>

</div>

<div >

  <h1>{{barkod}}</h1>
  <h1>Enlem:{{koordinat.latitude}}</h1>
  <h1>Boylam:{{koordinat.longitude}}</h1>
</div>

<div *ngIf="goster">
  <video  id="localVideo" autoplay playsinline [controls]="false" ></video>
</div>
<div *ngIf="goster">
  <canvas  id="resim"></canvas>
</div>
<div >
  <button class="btn solMarj"  (click)="baslat()">Başlat</button>
  <button class="btn solMarj" (click)="durdur()">Durudur</button>
  <button class="btn solMarj" (click)="yakala()">Resim yakala</button>
  <button class="btn solMarj" (click)="resmiKaydet()">Kaydet</button>
</div>



