.solMarj{
    margin-left: 7px;
}

.btn{
    border-radius: 5px;
    background-color: white;
    width: 8rem;
    height: 2rem;
}

.btn:hover{
    background-color:aquamarine;
    font-weight: bold;
}